*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header 
{
	height: auto;
	background: black;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	line-height: 50px;
	color: #fff;
}
.header i 
{
	color:#2fdab8;
}
.header .blank1
{
	height: 50px;
	width:16.66%;
/*	background: lightblue;*/
}
.header .signIn
{
	height: 50px;
	width:16.66%;
/*	background: lightcoral;*/
	border-right: 1px solid lightgray;
}
.header .signUp
{
	height: 50px;
	width:16.66%;
/*	background: lightblue;*/
	border-right: 1px solid lightgray;
}
.header .call
{
	height: 50px;
	width:16.66%;
/*	background: lightcoral;*/
	border-right: 1px solid lightgray;
}
.header .info
{
	height: 50px;
	width:16.66%;
/*	background: lightblue;*/
	border-right: 1px solid lightgray;
}
.header .blank2
{
	height: 50px;
	width:16.66%;
/*	background: lightcoral;*/
}
.subheader
{
	height: auto;
/*	background: lightblue;*/
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	line-height: 150px;
}
.subheader .search
{
	height: 150px;
	width: 33.33%;
/*	border:1px solid;*/
}

.subheader .search input 
{
	border: 1px solid lightgray;
	color: gray;
	height: 40px;
	width: 80%;
}

.subheader .search input:focus
{
	outline: none;
}

.subheader .search input::placeholder
{
	letter-spacing: 3px;
}

.subheader .search  button 
{
	background: #2fdab8;
	height:40px ;
	width: 40px;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}


.subheader .logo
{
	height: 150px;
	width: 33.33%;
/*	background: gray;*/
/*	border:1px solid;*/
	font-size: 54px;
}

.subheader .logo .E 
{
	background: #000;
	color: #fff;
	font-weight: bold;
	padding: 15px;

}
.subheader .icons
{
	height: 150px;
	width: 33.33%;
/*	background: gray;*/
/*	border:1px solid;*/
	word-spacing: 15px;
	letter-spacing: 3px;
}

.subheader .icons .fa-facebook-f
{
	background: #1877F2;
	padding: 15px;
	color: #fff;
}
.logo i 
{
	font-size: 25px;
	color: #2fdab8;
	position: absolute;
}
.subheader .icons .fa-twitter
{
	background: #55acee;
	padding: 15px;
	color: #fff;
}
.subheader .icons .fa-instagram
{
	background: orange;
	padding: 15px;
	color: #fff;
}
.subheader .icons .fa-linkedin
{
	background: #bd081c;
	padding: 15px;
	color: #fff;
}
.subheader .logo .bag
{
	position: relative;
	

}
.subheader .logo .bag .fa-bag-shopping
{
	position: absolute;
	font-size: 20px;
	top: 53px;
	left: -5px;
}

